body{
    margin: 0;
    padding: 0;
    background-color: rgb(48, 46, 46);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-gap: 0.5rem;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-areas: 'navbar navbar navbar navbar'
                         'video video video aside'
                         'section section section section'
                         'footer footer footer footer';
}

.topnav{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* border: 2px solid rebeccapurple; */
    box-shadow: 4px 3px 10px rgb(29, 28, 28);
}

.topnav a {
    /* display: block; */
    display: inline;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
  }

nav{
    grid-area: navbar;
    text-decoration: none;
    display:inline;
    z-index: 100;
}

.navbar-brand img{
    width: 10vw;
    height: 6vh;
    padding: 15px;
    float: left;
}

.h1{
    font-size: 1.5rem;
}

.navIcon{
    color: whitesmoke;
    margin: 25px 15px;
    float: right;
}

aside{
    grid-area: aside;
    height: 610px;
    width: 355px;
    display: grid;
    margin-top: 70px;
    overflow: auto;
    /* border: 2px solid whitesmoke; */
    color: whitesmoke;
}

::-webkit-scrollbar {
    display: none;
}

.courseItem{
    margin: 3px;
    height: 60px;
    width: 340px;
    justify-items: center;
    display: grid;
    grid-template-areas: 'header header header header'
                         'icon other other other';
    /* box-shadow: 4px 3px 10px rgb(29, 28, 28); */
    box-shadow: 4px 3px 10px rgb(8, 8, 8);
}

.title{
    font-size:20px;
    color: whitesmoke;
}

#icon{
    grid-area: icon;
}

#header{
    grid-area: header;
}

#other{
    grid-area: other;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

video{
    grid-area: video;
    height: 610px;
    width: 1150px;
    margin-top: 70px;
    /* border: 2px solid whitesmoke; */
    box-shadow: 4px 3px 10px rgb(29, 28, 28);
}

section{
    grid-area: section;
}

footer{
    grid-area: footer;
}

.bdr{
    /* border: 2px solid rgb(247, 232, 232); */
    background-color: rgb(37, 36, 36);
    padding:5px 20px;
    color: whitesmoke;
}